/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 30px 50px; font-family: Roboto, "Helvetica Neue", sans-serif; }
mat-card { margin-top: 50px; }

.btnColor {
  background-color: #0D6EFD;
}

.txtColor {
  color: black;
}
